.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 7%;
  width: 30%;
  text-align: center;
  border-radius: 50px;
  background-color: var(--primary-color);
  height: 350px;
}

.login-container input,.login-container label{
  font-size: medium;
  margin-top: 6px;
}


.submit-button{
  width: 120px;
  height: 50px;
  font-size: large;
  border: 0;
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 50px;
  margin-top: 20px;
  outline: none;
}

.submit-button:hover{
  background-color: var(--secondary-color);
  cursor: pointer;
}
