.piano-container {
  width: 60%;
}

.tiles-wrapper {
  height: 180px;
  width: 100%;
  display: inline-flex;
}

.tile {
  
  width: 50%;
}

.tile_sharp {
  margin-right: -3%;
  background: #444;
  width: 30%;
  height: 120px;
  transform: translateX(-50%);
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
}

.tile:active,
.tile_sharp:active{
  background-color: grey;
}

.play-button{
  width: 100%;
}

.Instrument h2{
  padding: 5px;
  background-color: var(--tertiary-color);
  border: 2px solid black;
  border-radius: 50px;
}

.Instrument .Options{
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  background-color: var(--primary-color);
}

.margin-top{
  margin-top: 15px;
}