.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Home .Content {
  display: block;
  width: 100%;
  text-align: center;
}

.Home .Header {
  text-align: center;
  background-color: var(--tertiary-color);
  border-radius: 50px;
}

.Home .Instrument {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .button-primary {
  border: 0;
  box-shadow: 5px 5px 5px #aaaaaa;
  margin: 5px 5px 5px 5px;
  padding: 7px 7px 7px 7px;
  border-radius: 50px;
  outline: none;
}

.Home .button-primary:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
