.Home {
  width: 100vw;
  display: flex;
}

.Home .Content {
  display: block;
  width: 100%;
  text-align: center;
}

.Home .Instrument {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

