.Logo h2 {
  margin: 0;
  padding: 0;
}

.Logo{
  background-color: var(--tertiary-color);
  border-radius: 50px;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Home .Logo{
  display: flex;
  width: 26%;
  border-radius: 0px 0px 100px 100px;
  margin: auto;
}
