.Home .Logo{
  display: flex;
  width: 29%;
  border-radius: 0px 0px 100px 100px;
  margin: auto;
}

.Logo{
  background-color: var(--tertiary-color);
  border-radius: 50px;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo h2 {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}
