.piano-container {
  width: 60%;
}

.tiles-wrapper {
  height: 160px;
  width: 100%;
  display: inline-flex;
}

.tile {
  width: 47%;
}

.tile_sharp {
  margin-right: -3%;
  background: rgb(70, 70, 70);
  width: 30%;
  height: 100px;
  transform: translateX(-50%);
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
}

.tile:active,
.tile_sharp:active {
  background-color: grey;
}

.Instrument h2 {
  margin-top: 0px;
  padding: 5px;
  background-color: var(--tertiary-color);
  border-radius: 50px;
}

.Instrument h3 {
  background-color: var(--secondary-color);
  border-radius: 50px;
}

.Instrument .Options {
  margin: auto;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--primary-color);
}

.Options input:not(input[type='checkbox']),
select{
  width: 100%;
  clear: both;
  padding: 3px 3px;
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  text-align-last: center;
}


.play-button {
  width: 100%;
}

.midi {
  width: 500px;
}
.midi-info {
  border: 1px solid grey;
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.file-info {
  margin: auto;
  text-align: center;
  width: 40%;
}

.player-container {
  width: 400px;
  background-color: var(--primary-color);
  border-radius: 50px;
}

.Instrument .canvas {
  width: 100%;
  border-radius: 50px;
}



/* ----------- Notes played -----------*/

.Instrument .notes-played-container {
  overflow: auto;
}

.Instrument .notes-played-container ul {
  display: flex;
  list-style: none;
  max-width: 500px;
  font-size: 12px;
}

/* ----------- Sequencer -----------*/

.Sequencer .notes-wrapper {
  display: flex;
}

.Sequencer .notes-column {
  display: flex;
  flex-direction: column;
}

.Sequencer .notes-column-active {
  background-color: var(--tertiary-color);
}

.Sequencer .note {
  margin: 3px;
  width: 40px;
  height: 55px;
  background-color: white;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.Sequencer .note-active {
  background-color: var(--secondary-color);
}

.Sequencer .button-primary {
  margin-top: 15px;
  text-transform: uppercase;
  width: 25%;
  cursor: pointer;
}

/* ----------- My Sounds -----------*/
.MySounds {
  width: 90%;
}

.MySounds .Options{
  font-size: 14px;
  width: 350px;
}

.MySounds .filters-container{
  display: flex;
}

.MySounds .filter{
  padding: 5px;
  display: block;
}

.MySounds table {
  margin-top: 20px;
  font-size: 13px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.MySounds thead th:nth-child(1) {
  width: 12%;
}

.MySounds thead th:nth-child(2) {
  width: 13%;
}

.MySounds thead th:nth-child(3) {
  width: 10%;
}

.MySounds thead th:nth-child(4) {
  width: 20%;
}
.MySounds thead th:nth-child(5) {
  width: 25%;
}
.MySounds thead th:nth-child(6) {
  width: 15%;
}

.MySounds tbody td:nth-child(5){
  font-size: 12px;
  height: 60px;
}

.MySounds th,
td {
  word-wrap: break-word;
  border: 1px solid lightgrey;
}

.MySounds th{
  background-color: var(--primary-color);
}
