.GlobalOptions{
    margin: 0;
    padding: 0;
}

.GlobalOptions .button-mute {
    border: 0;
    border-radius: 50px;
    outline: none;
    padding: 9px 12px 9px 12px;
}

.GlobalOptions .button-mute:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }
