.Sidebar {
  height: 800px;
  width: 250px;
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 50px;
}

.SidebarItemTitle{
  background-color: var(--tertiary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
}

.SidebarList {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.SidebarDropdown {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
}

.SidebarDropdown:hover{
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  cursor:pointer;
}

