.App{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
  display: none;
}
.App {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.margin-top{
  margin-top: 15px;
}

.Linker{
  height: 40px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.Linker a{
  padding: 10px 15px 10px 15px;
}

.Linker a:hover{
  background-color: var(--primary-color);
}