.App{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.margin-top{
  margin-top: 15px;
}

.Linker{
  height: 30px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.Linker a{
  padding: 10px 15px 10px 15px;
}

.Linker a:hover{
  background-color: var(--primary-color);
}