.App{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
  display: none;
}
.App {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.margin-top{
  margin-top: 15px;
}

.Linker {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--tertiary-color);
}

.Linker a {
  padding: 10px 10px 10px 10px;
  color: black;
  border-radius: 50px;
  text-decoration: none;
  font-size: 19.5px;
}

.Linker a:hover {
  color: var(--primary-color);
}

.Linker a:active {
  color: var(--secondary-color);
}

.Linker img {
  margin-left: 15px;
  margin-right: 10px;
}

.Linker a{
  margin-left: 40px;
}

