.App{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.App .Content{
  display: block;
  width: 100%;
  text-align: center;
}

.App .Header{
  text-align: center;
  background-color: var(--tertiary-color);
  border: 2px solid black;
  border-radius: 50px;
}

.App .Instrument{
  display: flex;
  align-items: center;
  justify-content: center;
}
